<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992102556900-tctrnk6p3sbm80ho8urreatuh2a2lnr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992102556900-tctrnk6p3sbm80ho8urreatuh2a2lnr4</string>
	<key>API_KEY</key>
	<string>AIzaSyBLhDhIFiPa5WSli0S2avDH8ojk3SVGA9s</string>
	<key>GCM_SENDER_ID</key>
	<string>992102556900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cagatayjankat.bildirapp</string>
	<key>PROJECT_ID</key>
	<string>bildir-30903</string>
	<key>STORAGE_BUCKET</key>
	<string>bildir-30903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992102556900:ios:97f636afee9db08c7e78f1</string>
	<key>DATABASE_URL</key>
	<string>https://bildir-30903.firebaseio.com</string>
</dict>
</plist>